html{
    min-height: 100%;
    min-width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(52, 228, 234);
    font-family: Bubblegum Sans;
}
.heading h2{
    font-size: 50px;
    margin-top: 10px;
    color: rgb(0, 28, 85);
}
.currently-playing{
    margin: 10px;
    font-size: 25px;
    color: rgb(0, 28, 85);
    display: flex;
    flex-direction: row;
}
.player-disp{
    color: rgb(216, 30, 91);
}
.game-board{
    margin: 20px;
    height: 500px;
    width: 500px;
    background-color: white;
    display: grid;
    grid-template-areas: "col1" "." "col2" "." "col3" ;
    grid-template-rows: 160px 10px 160px 10px 160px;
    visibility: hidden;
}
.play{
    text-align: center;
    font-size: 150px;
    height: 160px;
    width: 160px;
    background-color: rgb(14, 177, 210);
}

.col1, .col2, .col3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col1{
    grid-area: col1;
}
.col2{
    grid-area: col2;
}
.col3{
    grid-area: col3;
}
.col1 div, .col2 div, .col3 div{
    box-shadow: 5px 5px 5px grey;
}
.winner{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    font-size: 100px;
    text-align: center;
    position: relative;
    top: -650px;
    color: rgb(216, 30, 91);
    background-image: url("https://library.kissclipart.com/20180901/ocq/kissclipart-confetti-background-png-clipart-clip-art-9315a7c08fab1bdd.png");
    visibility: hidden;
}
#dispWinner{
    position: relative;
    top: 200px;
}
.btns{
    visibility: hidden;
    position: relative;
    text-align: center;
    padding: 20px;
}
.btns button{
    margin-left: 10px;
    font-size: 25px;
}
@keyframes fadein {
    from { opacity: 0; transform: scale(1.5);}
    to   { opacity: 1; transform: scale(1);}
}
.on-visible-board{
    animation: fadein 1.5s;
}
@keyframes popup {
    0% {transform: scale(0.1);}
    50% {transform: scale(2);}
    100% {}
}
.on-visible-winner{
    animation: popup 0.75s;
    animation-timing-function: ease;
}
@keyframes seeme {
    0% {}
    25% { background-color: rgb(14, 177, 210); transform: scale(1.2);}
    50% { background-color: rgb(14, 177, 210); transform: scale(1.1);}
    100% { transform: scale(1);}
}
.on-winner-btn{
    animation: seeme 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
footer{
    width: 100%;
    text-align: center;
    color: rgb(240, 58, 71);
    background-color: rgb(10, 36, 114);
}
a{
    color: rgb(175, 91, 91);
}